
header {
    background-color: red;
    border-image-width: url('/lab-assets/hr-img.png');
}

header > span {
    position: absolute;
    right: 0px;
}

#logo {
position: absolute;}

h1 {
    margin-left: 47px;
    margin-bottom: 0px;
}

header > img {

}

header > p {
    margin-left: 47px;
    margin-top: 0px;
}

body {
    text-indent: 120px;

}

h3 {

}

h6 {

}

body > p {

}

body > img {

}

#ingredients {

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {

}

li {
    
}

footer {
    background-color: chartreuse;
}

#van {

}

h4 {

}

footer > p {

}

button {

}

footer > img {

}

.gray {

}