#logo {
position: absolute;
left: 15%;
top: 30px;
}


h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 40pt;
    margin-top: 0;
    margin-left: 12%;
    margin-bottom: 0px;
}

header > span {
    position: absolute;
    right: 10%;
    top: 50px;
}

header > p {
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 10pt;
    margin-left: 12%;
    margin-top: 0px;
}

header::after {
    content: "";
    display: block;
    height: 10px;
    background-image: url(./lab-assets/hr-img.png);
    background-repeat: repeat;
    background-position: center bottom;
}

body {
    margin-right: 10%;
    margin-left: 10%;
}

h3 {
    font-size: 30pt;
    font-family: Impact, fantasy;
    margin-bottom: 0;
    
}

h6 {
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 10pt;
    margin-top: 0;
    color: gray;
}

body > span {
    float: right;
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 10pt;
    color: gray;
    margin-top: 0;
}

body > p {
    font-size: 14pt;
    text-indent: 25px;
}

body > img {
    position: relative;
    justify-content: center;
}

#ingredients {
    height: 260px;
    padding: 17px;
    background-image: url(./lab-assets/list-bg.png);
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    list-style-type: none;
}

input {
    margin-right: 10px;
}

li {
    margin: 7px;
    font-family: Marker Felt, fantasy;
    font-size: 15pt;
}

.strikethru {
    text-decoration: line-through;
}

footer {
    margin-top: 30px;

}

footer::before {
    content: "";
    display: block;
    height: 10px;
    background-image: url(./lab-assets/hr-img.png);
    background-repeat: repeat;
    background-position: center bottom;
    margin-bottom: 10px;
}

#van {
    position: absolute;
    left: 15%;
}

h4 {
    margin-left: 15%;
    margin-bottom: 0;
    font-size: 16pt;
    
}

footer > p {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 15%;
    margin-top: 5px;
}

button {
    width: 170px;
    height: 60px;
    background-color: indianred;
    color: white;
    font-family: Arial Narrow, sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 16pt;
}

#foot-logo {
    position: absolute;
    margin-left: 38.5%;

}

.gray { 
    margin-top: 100px;
    text-align: center;
    color: gray;
}

